In [1]:
import psycopg2
import networkx as nx
from networkx.algorithms import bipartite
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
connection = psycopg2.connect(
    host = '152.70.249.200',
    database = 'kdsg_sooldamwha',
    user = 'kdsg',
    password = 'kdsg1234')
cursor = connection.cursor()
cursor.execute(" select id, r, minmax_r , f, minmax_f , m, minmax_m from cluster_rfm")
result = cursor.fetchall()
# connection.commit()

In [3]:
df_order = pd.DataFrame(result, columns = ['id', 'r', 'minmax_r' , 'f', 'minmax_f' , 'm', 'minmax_m'])

In [4]:
df_order.describe()

                 id             r      minmax_r             f
count  35957.000000  35957.000000  35957.000000  35957.000000
mean   45980.707845     45.715660      0.752952      2.262870
std    24601.898708     33.471672      0.184926      2.868136
min      120.000000      1.000000      0.000000      1.000000
25%    25057.000000     20.000000      0.651934      1.000000
50%    46892.000000     40.000000      0.784530      1.000000
75%    66890.000000     64.000000      0.895028      3.000000
max    89364.000000    182.000000      1.000000    131.000000

In [5]:
# 맥북 그래프 출력 시 한글 깨짐 현상으로 코드 추가 
from matplotlib import rc
import platform 

if platform.system()=='Darwin' : 
    rc('font', family='AppleGothic')
    plt.rcParams['axes.unicode_minus'] = False

In [ ]:
from sklearn.cluster import KMeans
from sklearn.metrics import silhouette_score

inertia_list = []
silhouette_list = []
kmeans_per_k = []

# grid search를 통해 클러스터 개수 바꾸어가며 결과 확인 
cluster_num = range(2, 15)
for i in cluster_num:
    
    # 그룹 수, random_state 설정
    model = KMeans(n_clusters = i, random_state = 10)

    # 정규화된 데이터에 학습
    model.fit(df_order[['minmax_r', 'minmax_f', 'minmax_m']])

    # 클러스터링 결과 각 데이터가 몇 번째 그룹에 속하는지 저장
    df_order['cluster'] = model.fit_predict(df_order[['minmax_r', 'minmax_f', 'minmax_m']])
    
    # 클러스터 개수 별 이너셔 값 확인을 위해 데이터 저장 
    inertia_list = np.append(inertia_list, model.inertia_)
    # 클러스터 개수 별 실루엣 값 확인을 위해 데이터 저장 
    silhouette_list = np.append(silhouette_list, silhouette_score(df_order[['minmax_r', 'minmax_f', 'minmax_m']], model.labels_))
    # 추후 모델 재사용을 위해 모델 저장
    kmeans_per_k.append(model)

In [ ]:
# https://matplotlib.org/3.5.0/tutorials/colors/colormaps.html
# 실루엣 점수 시각화
## 엘보 지점이 가장 좋은데 뚜렷하게 보이지 않아 실루엣 계수 확인 진행 
plt.plot(cluster_num, inertia_list, color = '#008000')
plt.title('클러스터 개수 별 이너셔 점수 시각화')
plt.show()

In [ ]:
# 실루엣계수 그래프
# 1에 가까울수록 좋은 모델인데, 갈수록 낮아짐
# 3 혹은 5 가 좋은 클러스터 개수일것으로 보임
# 추가적으로 실루엣 그래프 확인
plt.plot(cluster_num, silhouette_list, color = '#008000')
plt.xticks(np.arange(2, 15))
plt.axvline(x=3, color='r', linestyle='--', linewidth=2)
plt.axvline(x=5, color='r', linestyle='--', linewidth=2)
plt.title('클러스터 개수 별 실루엣 계수 시각화')
plt.show()

# productid와 product optioin id를 합쳐서 V노드로 생성 필요 
product 자리수: 0000 네자리수로 표현
product_option_id자리수 : 0000네자리수로 표현

> 신규 변수 생성 po_id

In [ ]:
df_order['PRODUCT_ID'] = df_order['PRODUCT_ID'].astype('str')
df_order['PRODUCT_OPTION_ID'] = df_order['PRODUCT_OPTION_ID'].astype('str')

In [ ]:
df_order['PRODUCT_ID'] = df_order['PRODUCT_ID'].str.zfill(4)
df_order['PRODUCT_OPTION_ID'] = df_order['PRODUCT_OPTION_ID'].str.zfill(4)

In [ ]:
df_order['PO_ID'] = df_order['PRODUCT_ID']+df_order['PRODUCT_OPTION_ID']

In [ ]:
U_nodes = list(df_order['ID'].drop_duplicates())
V_nodes = list(df_order['PO_ID'].drop_duplicates())
edgelist = list(zip(df_order['ID'], df_order['PO_ID']))

In [ ]:
b = nx.Graph()
b.add_nodes_from(U_nodes, bipartite=0)
b.add_nodes_from(V_nodes, bipartite=1)

b.add_edges_from(edgelist)

In [ ]:
G = bipartite.projected_graph(b, U_nodes)

In [ ]:
pk_internet = {}
num_nodes = len(G.degree())
for i in dict(G.degree()).values():
    if i in pk_internet:
        pk_internet[i] += 1/num_nodes
    else:
        pk_internet[i] = 1/num_nodes
        
x, y = zip(*pk_internet.items())

In [ ]:
# db = \
# psycopg2.connect(host='152.70.249.200', dbname='kdsg_sooldamwha',user='kdsg',password='kdsg1234',port=5432)

In [ ]:
# cursor=db.cursor()

In [ ]:
# def readDB(cursor, schema,table,colum):
#     sql = " SELECT {colum} from {schema}.{table}".format(colum=colum,schema=schema,table=table)
#     try:
# #         self.cursor.execute(sql)
#         cursor.execute(sql)
#         result = cursor.fetchall()
#     except Exception as e :
#         result = (" read DB err",e)
    
#     return result

In [ ]:
# print(readDB(cursor = cursor, schema='public',table='orders',colum=['id', 'product_id', 'product_option_id']))